arabic-reshaper==2.1.1
asgiref==3.2.10
astroid==2.3.3
attrs==20.3.0
autopep8==1.4.4
base58==2.0.1
bitarray==1.2.2
cairocffi==1.0.0
CairoSVG==2.3.0
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
coreapi==2.3.3
coreschema==0.0.4
cssselect2==0.2.1
cytoolz==0.11.0
defusedxml==0.5.0
diff-match-patch==20121119
Django==2.2
django-admin==2.0.1
django-cors-headers==3.5.0
django-debug-toolbar==3.1.1
django-easy-pdf==0.1.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-filter==2.4.0
django-guardian==2.2.0
django-import-export==1.0.1
django-jalali==3.0.3
django-reset-migrations==0.3.1
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
django-silk==4.1.0
django-six==1.0.4
django-stubs==1.4.0
django-wkhtmltopdf==3.2.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
djangorestframework-oauth==1.1.0
djangorestframework-recursive==0.1.2
djangorestframework-stubs==1.0.0
docutils==0.14
drf-yasg==1.16.1
et-xmlfile==1.0.1
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.9.5
expiringdict==1.2.1
Faker==2.0.0
Flask==1.1.1
future==0.18.2
gprof2dot==2019.11.30
hexbytes==0.2.1
html5lib==1.0.1
httplib2==0.17.0
idna==2.10
importlib-metadata==2.0.0
inflection==0.3.1
ipfshttpclient==0.7.0a1
isort==4.3.21
itsdangerous==1.1.0
itypes==1.1.0
jdatetime==3.0.0
jdcal==1.4
Jinja2==2.10.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
lml==0.0.4
lru-dict==1.1.6
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
multiaddr==0.0.9
mypy==0.720
mypy-extensions==0.4.3
netaddr==0.8.0
numpy==1.19.3
oauth2==1.9.0.post1
odfpy==1.3.6
openapi-codec==1.3.2
openpyxl==2.5.7
pandas==1.1.4
parsimonious==0.8.1
Pillow==7.0.0
protobuf==3.14.0
psycopg2==2.8.2
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.9.9
pyexcel==0.5.9.1
pyexcel-io==0.5.9.1
pyexcel-webio==0.1.4
Pygments==2.7.1
PyJWT==1.6.4
pylint==2.4.4
pymongo==3.9.0
PyPDF2==1.26.0
Pyphen==0.9.5
pypiwin32==223
pyrsistent==0.17.3
pyserial==3.4
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
PyYAML==3.13
reportlab==3.5.13
requests==2.25.1
rest-pandas==1.1.0
rlp==2.0.1
ruamel.yaml==0.15.100
ruamel.yaml.clib==0.2.2
screen==1.0.1
simplejson==3.16.0
six==1.15.0
sqlparse==0.4.1
tablib==0.12.1
text-unidecode==1.2
texttable==1.4.0
tinycss2==0.6.1
toolz==0.11.1
typed-ast==1.4.0
typing-extensions==3.7.4.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.25.11
varint==1.0.2
virtualenv==16.6.0
virtualenvwrapper-win==1.2.5
WeasyPrint==44
web3==5.14.0
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
xhtml2pdf==0.2.3
xlrd==1.1.0
XlsxWriter==1.3.3
xlwt==1.3.0
zipp==3.4.0
